html,body{
    height: 4000px;
}
p{
    margin: 0;
}
button{
    cursor: pointer;
}
body{
    background-color: rgb(51, 49, 49);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center center;
}
header{
    background-color: rgb(40, 32, 104);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
    z-index: 2000;
}
.title{
    display: flex;
    align-items: center;
    height: 100%;
    word-wrap: break-word;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(101, 202, 248);
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.name:hover{
    background-color: rgb(102, 175, 218);
    color:rgb(40, 32, 104); 
}
.warframe-logo{
    width: 150px;
    object-fit: contain;
    height: 100%;
}
nav{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
}
nav a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    height: 100%;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    transition: color 0.2s, background-color 0.2s;
    text-align: center;
}
nav a:hover{
    background-color: rgb(102, 175, 218);
    color:rgb(40, 32, 104);
}
main{
    padding-top: 100px;
}
.upper{
    display: flex;
}
.warframe-box{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 280px;
    background-color: rgb(78, 77, 77);
    row-gap: 5px;
}
#warframe-name p{
    color: white;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}
#warframe-img{
    object-fit: cover;
    width: 100%;
    display: block;
}
#capacity{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#progress-bar{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgb(154, 157, 158);
    border-radius: 13px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
}
#mod-capacity{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -9px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#progress-filled{
    background-color: rgb(85, 210, 85);
    width: 0%;
}
.warframe-stats, .ability-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
} 
.abilities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}
.abilities img{
    object-fit: cover;
    width: 100%;
}
.ability-1, .ability-2, .ability-3, .ability-4{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
#ability-1-name, #ability-2-name, #ability-3-name, #ability-4-name{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    top: 100%;
    left: 0px;
    z-index: 200;
}
.ability-1:hover #ability-1-name{
    display: flex;
}
.ability-2:hover #ability-2-name{
    display: flex;
}
.ability-3:hover #ability-3-name{
    display: flex;
}
.ability-4:hover #ability-4-name{
    display: flex;
}

.stat-line{
    display: flex;
    justify-content: space-between;
}
.stat-line p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 2px;
    font-weight: bold;
}
.stat{
    color: white;
}
.stat-number{
    color: rgb(102, 168, 243);
}
.mod-place{
    background-color: rgb(37, 37, 37);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 120px;
    padding: 40px;
    position: relative;
}
.forma{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.forma img{
    width: 50px;
    object-fit: contain;
}
.forma p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}
.top-slots{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
#exilus-slot, #aura-slot{
    width: 200px;
    min-height: 93px;
    border: solid;
    border-width: 1px;
    border-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exilus-img, .aura-img{
    object-fit: cover;
    width: 50px;
}
.bottom-slots{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    column-gap: 40px;
    row-gap: 90px;
}
.mod-slot{
    height: 93px;
    border: solid;
    border-width: 1px;
    border-color: white;
    position: relative;
}
.current-polarity{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: -30px;
    width: 50px;
    height: 22px;
    background-color: white;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -5px;
    z-index: 850;
}
.polarity{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: white;
    border: solid;
    border-width: 1px;
    margin-top: -1px;
}
.mod-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(30, 200px);
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 20px;
    row-gap: 20px;
    height: 500px;
    padding-bottom: 300px;
}
.mod-wrap{
    min-height: 93px;
    position: relative;
    cursor: move;
    width: 200px;
}
.mod-wrap.grabbed{
    opacity: 0.75;
}
.mod {
    height: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition: 0.1s;
    overflow: hidden;
}
.mod-frame-top, .mod-frame-bottom{
    object-fit: cover;
    width: 100%;
    z-index: 400;
}
.mod-frame-top{
    position: absolute;
    top: -8px;
}
.mod-frame-bottom{
    position: absolute;
    bottom: -16px;
}
.mod-top{
    position: relative;
    width: 94%;
    padding-top: 5px;
    height: 75px;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 100;
}
.mod-type{
    position: absolute;
    top: 9px;
    left: 83px;
    object-fit: cover;
    width: 21px;
    z-index: 600;
}
.mod-cost{
    display: flex;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 1px;
    top: 12px;
    align-items: center;
    justify-content: center;
    height: 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 1000;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    padding-left: 2px;
}
.mod-cost.bronze{
    border-color: #9f7874;
}
.mod-cost.silver{
    border-color: #b4bac9;
}
.mod-cost.gold{
    border-color: #ffedb1;
}
.mod-cost.legendary{
    border-color: white;
}
#drain{
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#polarity{
    object-fit: cover;
    height: 16px;
    filter: invert(1);
}
#mod-img{
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    filter: brightness(30%);
}
.border-line1, .border-line2{
    position: absolute;
    display: none;
    z-index: 200;
    top: 23px;
}
.border-line1{
    left: -4px;
}
.border-line2{
    right: 0;
}

.mod-background{
    position: absolute;
    top: -95px;
    object-fit: cover;
    object-position: bottom;
    width: 106%;
}
.mod-bottom{
    padding-top: 5px;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 30px;
    overflow: hidden;
}
.mod-name, .mod-effect{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    z-index: 500;
}
.mod-name.bronze, .mod-effect.bronze{
    color: #9f7874;
}
.mod-name.silver, .mod-effect.silver{
    color: #b4bac9;
}
.mod-name.gold, .mod-effect.gold{
    color: #ffedb1;
}
.mod-name.legendary, .mod-effect.legendary{
    color: white;
}
.mod-effect{
    text-align: center;
    font-size: 15px;
    padding-bottom: 35px;
    font-weight: normal;
    display: none;
}
.mod-compatibility{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    padding-top: 5px;
    padding-bottom: 10px;
}
.diamond{
    object-fit: cover;
    width: 85%;
}
.compatibility-name{
    position: absolute;
    top: 9px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.compatibility-name.bronze{
    color: #9f7874;
}
.compatibility-name.silver{
    color: #b4bac9;
}
.compatibility-name.gold{
    color: #ffedb1;
}
.compatibility-name.legendary{
    color: white;
}
#mod-rank{
    position: absolute;
    bottom: -5px;
    color:rgb(142, 241, 241);
    z-index: 500;
}
.mod-rank-line{
    position: absolute;
    bottom: 6px;
    z-index: 500;
    border-color: rgb(142, 241, 241);
    width: 60%;
    margin: 0;
}
.mod:hover{
    height: 300px;
    z-index: 700;
}
.mod:hover .mod-top{
    overflow: visible;
}
.mod:hover .mod-bottom{
    bottom: 18px;
    min-height: 86px;
    z-index: 100;
}
.mod:hover .border-line1{
    display: flex;
}
.mod:hover .border-line2{
    display: flex;
}
.mod:hover #mod-img{
    filter: brightness(80%);
}
.mod:hover .mod-effect{
    display:flex;
}
.mod:hover .mod-compatibility{
    display: flex;
}

@media (max-width: 1163px){
    header{
        height: 170px;
    }
    main{
        padding-top: 170px;
    }
}